# Created by .ignore support plugin (hsz.mobi)
.idea
ex3/NumberBaseball.html
ex3/main.js
ex3/node_modules/.bin/
ex3/node_modules/@webassemblyjs/
ex3/node_modules/@xtuc/
ex3/node_modules/acorn/
ex3/node_modules/ajv-errors/
ex3/node_modules/ajv-keywords/
ex3/node_modules/ajv/
ex3/node_modules/ansi-regex/
ex3/node_modules/ansi-styles/
ex3/node_modules/anymatch/
ex3/node_modules/aproba/
ex3/node_modules/arr-diff/
ex3/node_modules/arr-flatten/
ex3/node_modules/arr-union/
ex3/node_modules/array-unique/
ex3/node_modules/asn1.js/
ex3/node_modules/assert/
ex3/node_modules/assign-symbols/
ex3/node_modules/async-each/
ex3/node_modules/atob/
ex3/node_modules/balanced-match/
ex3/node_modules/base/
ex3/node_modules/base64-js/
ex3/node_modules/big.js/
ex3/node_modules/binary-extensions/
ex3/node_modules/bindings/
ex3/node_modules/bluebird/
ex3/node_modules/bn.js/
ex3/node_modules/brace-expansion/
ex3/node_modules/braces/
ex3/node_modules/brorand/
ex3/node_modules/browserify-aes/
ex3/node_modules/browserify-cipher/
ex3/node_modules/browserify-des/
ex3/node_modules/browserify-rsa/
ex3/node_modules/browserify-sign/
ex3/node_modules/browserify-zlib/
ex3/node_modules/buffer-from/
ex3/node_modules/buffer-xor/
ex3/node_modules/buffer/
ex3/node_modules/builtin-status-codes/
ex3/node_modules/cacache/
ex3/node_modules/cache-base/
ex3/node_modules/camelcase/
ex3/node_modules/chalk/
ex3/node_modules/chokidar/
ex3/node_modules/chownr/
ex3/node_modules/chrome-trace-event/
ex3/node_modules/cipher-base/
ex3/node_modules/class-utils/
ex3/node_modules/cliui/
ex3/node_modules/collection-visit/
ex3/node_modules/color-convert/
ex3/node_modules/color-name/
ex3/node_modules/commander/
ex3/node_modules/commondir/
ex3/node_modules/component-emitter/
ex3/node_modules/concat-map/
ex3/node_modules/concat-stream/
ex3/node_modules/console-browserify/
ex3/node_modules/constants-browserify/
ex3/node_modules/copy-concurrently/LICENSE
ex3/node_modules/copy-concurrently/README.md
ex3/node_modules/copy-concurrently/copy.js
ex3/node_modules/copy-concurrently/is-windows.js
ex3/node_modules/copy-concurrently/package.json
ex3/node_modules/copy-descriptor/
ex3/node_modules/core-util-is/
ex3/node_modules/create-ecdh/
ex3/node_modules/create-hash/
ex3/node_modules/create-hmac/
ex3/node_modules/cross-spawn/
ex3/node_modules/crypto-browserify/
ex3/node_modules/cyclist/
ex3/node_modules/debug/
ex3/node_modules/decamelize/
ex3/node_modules/decode-uri-component/
ex3/node_modules/define-property/
ex3/node_modules/des.js/
ex3/node_modules/detect-file/
ex3/node_modules/diffie-hellman/
ex3/node_modules/domain-browser/
ex3/node_modules/duplexify/
ex3/node_modules/elliptic/
ex3/node_modules/emoji-regex/
ex3/node_modules/emojis-list/
ex3/node_modules/end-of-stream/
ex3/node_modules/enhanced-resolve/
ex3/node_modules/errno/
ex3/node_modules/escape-string-regexp/
ex3/node_modules/eslint-scope/
ex3/node_modules/esrecurse/
ex3/node_modules/estraverse/
ex3/node_modules/events/
ex3/node_modules/evp_bytestokey/
ex3/node_modules/expand-brackets/
ex3/node_modules/expand-tilde/
ex3/node_modules/extend-shallow/
ex3/node_modules/extglob/LICENSE
ex3/node_modules/extglob/README.md
ex3/node_modules/extglob/changelog.md
ex3/node_modules/extglob/index.js
ex3/node_modules/extglob/lib/compilers.js
ex3/node_modules/extglob/lib/extglob.js
ex3/node_modules/extglob/lib/parsers.js
ex3/node_modules/extglob/lib/utils.js
ex3/node_modules/extglob/node_modules/
ex3/node_modules/extglob/package.json
ex3/node_modules/fast-deep-equal/
ex3/node_modules/fast-json-stable-stringify/
ex3/node_modules/figgy-pudding/
ex3/node_modules/file-uri-to-path/
ex3/node_modules/fill-range/
ex3/node_modules/find-cache-dir/
ex3/node_modules/find-up/
ex3/node_modules/findup-sync/
ex3/node_modules/flush-write-stream/
ex3/node_modules/for-in/
ex3/node_modules/fragment-cache/
ex3/node_modules/from2/
ex3/node_modules/fs-write-stream-atomic/
ex3/node_modules/fs.realpath/
ex3/node_modules/fsevents/
ex3/node_modules/get-caller-file/
ex3/node_modules/get-value/
ex3/node_modules/glob-parent/
ex3/node_modules/glob/
ex3/node_modules/global-modules/
ex3/node_modules/global-prefix/
ex3/node_modules/graceful-fs/
ex3/node_modules/has-flag/
ex3/node_modules/has-value/
ex3/node_modules/has-values/
ex3/node_modules/hash-base/
ex3/node_modules/hash.js/
ex3/node_modules/hmac-drbg/
ex3/node_modules/homedir-polyfill/
ex3/node_modules/https-browserify/
ex3/node_modules/ieee754/
ex3/node_modules/iferr/
ex3/node_modules/import-local/
ex3/node_modules/imurmurhash/
ex3/node_modules/infer-owner/
ex3/node_modules/inflight/
ex3/node_modules/inherits/
ex3/node_modules/ini/
ex3/node_modules/interpret/
ex3/node_modules/is-accessor-descriptor/
ex3/node_modules/is-binary-path/
ex3/node_modules/is-buffer/
ex3/node_modules/is-data-descriptor/
ex3/node_modules/is-descriptor/
ex3/node_modules/is-extendable/
ex3/node_modules/is-extglob/
ex3/node_modules/is-fullwidth-code-point/
ex3/node_modules/is-glob/
ex3/node_modules/is-number/
ex3/node_modules/is-plain-object/
ex3/node_modules/is-windows/
ex3/node_modules/is-wsl/
ex3/node_modules/isarray/
ex3/node_modules/isexe/
ex3/node_modules/isobject/
ex3/node_modules/json-parse-better-errors/
ex3/node_modules/json-schema-traverse/
ex3/node_modules/json5/
ex3/node_modules/kind-of/
ex3/node_modules/loader-runner/
ex3/node_modules/loader-utils/
ex3/node_modules/locate-path/
ex3/node_modules/lru-cache/
ex3/node_modules/make-dir/
ex3/node_modules/map-cache/
ex3/node_modules/map-visit/
ex3/node_modules/md5.js/
ex3/node_modules/memory-fs/
ex3/node_modules/micromatch/CHANGELOG.md
ex3/node_modules/micromatch/LICENSE
ex3/node_modules/micromatch/README.md
ex3/node_modules/micromatch/index.js
ex3/node_modules/micromatch/lib/cache.js
ex3/node_modules/micromatch/lib/compilers.js
ex3/node_modules/micromatch/lib/parsers.js
ex3/node_modules/micromatch
/lib/utils.js
ex3/node_modules/micromatch/package.json
ex3/node_modules/miller-rabin/
ex3/node_modules/minimalistic-assert/
ex3/node_modules/minimalistic-crypto-utils/
ex3/node_modules/minimatch/
ex3/node_modules/minimist/
ex3/node_modules/mississippi/
ex3/node_modules/mixin-deep/
ex3/node_modules/mkdirp/
ex3/node_modules/move-concurrently/LICENSE
ex3/node_modules/move-concurrently/README.md
ex3/node_modules/move-concurrently/move.js
ex3/node_modules/move-concurrently/package.json
ex3/node_modules/ms/
ex3/node_modules/nan/
ex3/node_modules/nanomatch/
ex3/node_modules/neo-async/
ex3/node_modules/nice-try/
ex3/node_modules/node-libs-browser/
ex3/node_modules/normalize-path/
ex3/node_modules/object-assign/
ex3/node_modules/object-copy/
ex3/node_modules/object-visit/
ex3/node_modules/object.pick/
ex3/node_modules/once/
ex3/node_modules/os-browserify/
ex3/node_modules/p-limit/
ex3/node_modules/p-locate/
ex3/node_modules/p-try/
ex3/node_modules/pako/
ex3/node_modules/parallel-transform/
ex3/node_modules/parse-asn1/
ex3/node_modules/parse-passwd/
ex3/node_modules/pascalcase/
ex3/node_modules/path-browserify/
ex3/node_modules/path-dirname/
ex3/node_modules/path-exists/
ex3/node_modules/path-is-absolute/
ex3/node_modules/path-key/
ex3/node_modules/pbkdf2/
ex3/node_modules/picomatch/
ex3/node_modules/pify/
ex3/node_modules/pkg-dir/
ex3/node_modules/posix-character-classes/
ex3/node_modules/process-nextick-args/
ex3/node_modules/process/
ex3/node_modules/promise-inflight/
ex3/node_modules/prr/
ex3/node_modules/public-encrypt/
ex3/node_modules/pump/
ex3/node_modules/pumpify/
ex3/node_modules/punycode/
ex3/node_modules/querystring-es3/
ex3/node_modules/querystring/.travis.yml
ex3/node_modules/querystring/History.md
ex3/node_modules/querystring/License.md
ex3/node_modules/querystring/Readme.md
ex3/node_modules/querystring/decode.js
ex3/node_modules/querystring/encode.js
ex3/node_modules/querystring/index.js
ex3/node_modules/querystring/package.json
ex3/node_modules/querystring/test/common-index.js
ex3/node_modules/querystring/test/index.js
ex3/node_modules/querystring/test/tap-index.js
ex3/node_modules/randombytes/
ex3/node_modules/randomfill/
ex3/node_modules/readable-stream/
ex3/node_modules/readdirp/
ex3/node_modules/regex-not/
ex3/node_modules/remove-trailing-separator/
ex3/node_modules/repeat-element/
ex3/node_modules/repeat-string/
ex3/node_modules/require-directory/
ex3/node_modules/require-main-filename/
ex3/node_modules/resolve-cwd/
ex3/node_modules/resolve-dir/
ex3/node_modules/resolve-from/
ex3/node_modules/resolve-url/
ex3/node_modules/ret/
ex3/node_modules/rimraf/
ex3/node_modules/ripemd160/
ex3/node_modules/run-queue/
ex3/node_modules/safe-buffer/
ex3/node_modules/safe-regex/
ex3/node_modules/schema-utils/
ex3/node_modules/semver/
ex3/node_modules/serialize-javascript/
ex3/node_modules/set-blocking/
ex3/node_modules/set-value/
ex3/node_modules/setimmediate/
ex3/node_modules/sha.js/
ex3/node_modules/shebang-command/
ex3/node_modules/shebang-regex/
ex3/node_modules/snapdragon-node/
ex3/node_modules/snapdragon-util/
ex3/node_modules/snapdragon/
ex3/node_modules/source-list-map/
ex3/node_modules/source-map-resolve/
ex3/node_modules/source-map-support/
ex3/node_modules/source-map-url/
ex3/node_modules/source-map/
ex3/node_modules/split-string/
ex3/node_modules/ssri/
ex3/node_modules/static-extend/
ex3/node_modules/stream-browserify/
ex3/node_modules/stream-each/
ex3/node_modules/stream-http/
ex3/node_modules/stream-shift/
ex3/node_modules/string-width/
ex3/node_modules/string_decoder/
ex3/node_modules/strip-ansi/
ex3/node_modules/supports-color/
ex3/node_modules/tapable/
ex3/node_modules/terser-webpack-plugin/
ex3/node_modules/terser/
ex3/node_modules/through2/
ex3/node_modules/timers-browserify/CHANGELOG.md
ex3/node_modules/timers-browserify/LICENSE.md
ex3/node_modules/timers-browserify/README.md
ex3/node_modules/timers-browserify/main.js
ex3/node_modules/timers-browserify/package.json
ex3/node_modules/to-arraybuffer/
ex3/node_modules/to-object-path/
ex3/node_modules/to-regex-range/
ex3/node_modules/to-regex/
ex3/node_modules/tslib/
ex3/node_modules/tty-browserify/
ex3/node_modules/typedarray/
ex3/node_modules/union-value/
ex3/node_modules/unique-filename/
ex3/node_modules/unique-slug/
ex3/node_modules/unset-value/
ex3/node_modules/upath/
ex3/node_modules/uri-js/
ex3/node_modules/urix/
ex3/node_modules/url/
ex3/node_modules/use/
ex3/node_modules/util-deprecate/
ex3/node_modules/util/
ex3/node_modules/v8-compile-cache/
ex3/node_modules/vm-browserify/
ex3/node_modules/vue/LICENSE
ex3/node_modules/vue/README.md
ex3/node_modules/vue/dist/
ex3/node_modules/vue/package.json
ex3/node_modules/vue/src/compiler/codeframe.js
ex3/node_modules/vue/src/compiler/codegen/
ex3/node_modules/vue/src/compiler/create-compiler.js
ex3/node_modules/vue/src/compiler/directives/
ex3/node_modules/vue/src/compiler/error-detector.js
ex3/node_modules/vue/src/compiler/helpers.js
ex3/node_modules/vue/src/compiler/index.js
ex3/node_modules/vue/src/compiler/optimizer.js
ex3/node_modules/vue/src/compiler/parser/
ex3/node_modules/vue/src/compiler/to-function.js
ex3/node_modules/vue/src/core/
ex3/node_modules/vue/src/platforms/web/
ex3/node_modules/vue/src/platforms/weex/compiler/directives/
ex3/node_modules/vue/src/platforms/weex/compiler/index.js
ex3/node_modules/vue/src/platforms/weex/compiler/modules/
ex3/node_modules/vue/src/platforms/weex/entry-compiler.js
ex3/node_modules/vue/src/platforms/weex/entry-framework.js
ex3/node_modules/vue/src/platforms/weex/entry-runtime-factory.js
ex3/node_modules/vue/src/platforms/weex/runtime/
ex3/node_modules/vue/src/platforms/weex/util/
ex3/node_modules/vue/src/server/
ex3/node_modules/vue/src/sfc/
ex3/node_modules/vue/src/shared/
ex3/node_modules/vue/types/
ex3/node_modules/watchpack-chokidar2/
ex3/node_modules/watchpack/
ex3/node_modules/webpack-cli/
ex3/node_modules/webpack-sources/
ex3/node_modules/webpack/
Would r
emove ex3/node_modules/which-module/
ex3/node_modules/which/
ex3/node_modules/worker-farm/
ex3/node_modules/wrap-ansi/
ex3/node_modules/wrappy/
ex3/node_modules/xtend/
ex3/node_modules/y18n/
ex3/node_modules/yallist/
ex3/node_modules/yargs-parser/
ex3/node_modules/yargs/
ex3/node_modules/which-module/
ex3/dist/
ex3/node_modules/.cache/
